html{
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}


/* HEADER - mobile and desktop versions */
.mobile-header{
    background: white;
    position: relative;
    order: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-header img {
    height: 28px;
}

.mobile-menu{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    font-size: 1.5rem;
    color: hsl(0, 36%, 70%);
    /* slide down animation properties */
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.8s ease-in-out, opacity 0.8s;
}

.mobile-menu-visible.mobile-menu{
    transform: scaleY(1);
    opacity: 1;
}

.mobile-menu ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li a{
    display: block;
    border-top: 1px solid hsl(0, 6%, 24%, 0.2);
    padding: 15px;
    background: white;
}

.mobile-menu ul li a:hover{
    background: hsl(0, 74%, 74%, 0.8);
    color: white;
}

/* cool animated burger menu icon */
.burger-container {
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 7px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 7px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-9px, -8px) ;
}

.desktop-header{
    display: none;
    margin: 150px 0 80px 0;
    justify-content: flex-start;
    
}

/* MAIN site content */
main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background: url(images/bg-pattern-desktop.svg) no-repeat; 
    background-size: cover;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    padding: 28px;
    box-sizing: border-box;
    text-align: center;
}

.title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 2.5rem;
    color:hsl(0, 6%, 24%);
}

.title > span{
    font-weight: 300;
    color:hsl(0, 36%, 70%);
}

.site-description{
   color: hsl(0, 36%, 70%);
   font-size: 1rem;
   opacity: 0.9;
   line-height: 2;
}

.form {
    position: relative;
    display: flex;
    margin: 10px 0;
    border-radius: 100px;
    border: 1px solid hsl(0, 6%, 24%, 0.2);
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: hsl(0, 6%, 24%);
}

.form input{
    flex-grow: 1;
    padding: 1rem 1.5rem;
    border: 0;
    opacity: 0.7;
    border-radius: 100px;
    background: transparent;
    font-size: 0.8rem;
    font-family: inherit;
}

.form input:focus, .form button:active input {
    outline: 0;
    border: solid 3px rgb(241, 36, 36);
}

.alert {
    display: none;
    right: 80px;
    top: calc(50% - 12px);
}

.form input:invalid ~ .alert {
    display: block;
    position: absolute;
}

.alert-text{
    display: none;
}

.form input:invalid ~ .alert-text {
    display: block;
    position: absolute;
    left: 50px;
    top: 100%;
    color: hsl(0, 93%, 68%);
}


.form button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 70px;
    border: 0;
    border-radius: 100px;
    color: #ddd;
    margin-left: -50px;

    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    -webkit-box-shadow: 0px 12px 55px -15px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 12px 55px -15px rgba(66, 68, 90, 1);
    box-shadow: 0px 12px 55px -15px rgba(66, 68, 90, 1);
}


.form button:hover{
    cursor: pointer;
    opacity: 0.5;
}

.hero {
    height: 200px;
    overflow: hidden;
}

.hero > img{
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1200px) {
    .desktop-header{
        display: flex;
    }
    .mobile-header{
        display: none;
    }
    html{
        font-size: 16px;
    }
    body{
        flex-direction: row;
    }
    .container{
        text-align: left;
        max-width: 500px;
    }
    .title{
        text-align: left;
        font-size: 4rem;
    }
    .form input{
        font-size: 1.1rem;
        padding: 2rem 2rem;
    }
    .form button{
        width: 120px;
    }
    .alert{
        right: 140px;
    }
    .hero {
        height: auto;
    }
    .hero > img{
        height:100vh;
    }
}