html{
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    margin: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
}

header{ 
    margin-top: 40px;
    margin-bottom: 200px;
    justify-content: flex-start;
    
}

header > h1{
    font-size: 3em;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background: url(images/bg-pattern-desktop.svg) no-repeat; 
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 500px;
}

h1{
    letter-spacing: 15px;
    font-size: 75px;
    margin-bottom:2px;
    color:hsl(0, 6%, 24%);
}

h1 > span{
    font-weight: 300;
    color:hsl(0, 36%, 70%);
}

p{
   color: hsl(0, 36%, 70%);
   font-size: 1rem;
   opacity: 0.6;
   line-height: 2;
}

.form {
    display: flex;
    margin: 10px 0;
    border-radius: 100px;
    border: 1px solid hsl(0, 6%, 24%, 0.2);
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: hsl(0, 6%, 24%);
}

.form input{
    flex-grow: 1;
    padding: 25px 35px;
    border: 0;
    opacity: 0.3;
    border-radius: 100px;
    background: transparent;
    font-size: 1.1rem;
    font-family: inherit;
}

.form input:focus {
    border: 0;
}

.form input:invalid:after {
    content: url(/images/icon-error.svg);
}

.form button{
    width: 120px;
    border: 0;
    border-radius: 100px;
    color: #ddd;
    margin-left: -50px;
    z-index: 1;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    -webkit-box-shadow: 0px 12px 55px -15px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 12px 55px -15px rgba(66, 68, 90, 1);
    box-shadow: 0px 12px 55px -15px rgba(66, 68, 90, 1);
}



aside > img{
    height:100vh;
}

.attribution {
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}