html{
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    margin: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    background: url(images/bg-pattern-desktop.svg) no-repeat; 
}

header{ 
    margin-top: 40px;
    margin-bottom: 200px;
    justify-content: flex-start;
    
}

header > h1{
    font-size: 3em;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 500px;
    
}

.form {
    display: flex;
    margin: 10px 0;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: hsl(0, 36%, 70%);
}

.form input{
    flex-grow: 1;
    padding: 15px;
    border-radius: 100px;
    border: 1px solid hsl(0, 93%, 68%);
}

.form button{
    border-radius: 100px;
    border: 0;
    color: #ddd;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

h1{
    letter-spacing: 9px;
    font-size: 75px;
    margin-bottom:2px;
    color: hsl(0, 0%, 0%);
}

h1 > span{
    font-weight: 300;
    color:hsl(0, 36%, 70%);
    letter-spacing: 9px;
}

p{
   color: hsl(0, 36%, 70%);
   font-size: 20px;
   opacity: 0.6;
}

aside > img{
    height:100vh;
}

