html{
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0;
    
}

body{
    margin: 0;
    max-width: 2000px;
    
}

header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 35px;  
    
}

header nav{
    flex-grow: 1;
    
}

header nav ul{
    display: flex;
    list-style: none;
}

header ul li{
    padding: 50px 20px;
}


nav ul li:hover{
    border-bottom: solid 2px orange;
    cursor: pointer;
    
    
}




main{
display: flex;


}

.gallery{
    display: block;
    padding: 0px 50px;
    max-height: 400px ;
    text-align: center;
}

.gallery-main{
width: 500px;
border-radius: 5%;

}

.gallery-thumbnail{
 width: 100px ;
 margin-top: 20px;
 margin: 15px;   
 border-radius: 15%;
    
}
.gallery-thumbnail1{
    width: 100px ;
    border: 3px solid orange;
    opacity: 0.4;
}

.gallery-thumbnail2:hover{
opacity: 0.4;
}
.container{
padding: 50px;
margin-left: 300px;

}

.logo{
    height: 20px;
    
}

.logo:hover{
    cursor: pointer;
}

.cart-icon{
    position: relative;
    height:17px;
    padding: 15px;
    margin-right: 15px;
    
}

header #cart{
    display: none;
}

.cart-icon:hover + #cart{
    position: absolute;
    top:0;
    display: block;
}

.profile{
height:40px;
}

.click:hover{
    border-radius: 100%;
    outline: solid black 3px; 
    cursor: pointer;
}


h2{
    color:orange;
    font-size: 15px;
    letter-spacing: 3px;
}

h1{
    font-size: 45px;
}